.header {
  nav {
    display: flex;
    margin-bottom: 40px;
    text-decoration: none;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
    z-index: 1;

    & a {
      font-size: 16px;
      text-decoration: none;
      text-align: right;
      position: right;
      flex-direction: row;
      z-index: 1;
      color: black;
    }

    & a:hover {
      color: #fd7291;
      cursor: crosshair;
    }

    & div {
      display: flex;
      gap: 52px;
      text-align: right;
      font-size: 16px;
      position: right;
      margin-left: auto;
      z-index: 1;
    }

    & .logo {
      font-size: 20px;
      font-weight: 600;
      z-index: 1;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  background-color: #fbfbf6;
  padding-top: 40px;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  & div {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    align-items: center;
    margin: auto;
    list-style: none;
    z-index: 1;
  }

  & ul {
    list-style: none;
    z-index: 1;

    & :hover {
      color: #fd7291;
      cursor: crosshair;
    }
  }

  & p {
    font-size: 189px;
    z-index: 1;
  }
}
