.banner_box {
  max-width: 35rem;
  width: 85%;
  position: relative;
  height: 100vh;
  word-wrap: break-word;
  margin-left: 292px;
  z-index: 1;
}

.banner_heading {
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 40px;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.banner_button {
  border-radius: 20px;
  background-color: transparent;
  color: black;
  border: 1px solid #fd7291;
  height: 50px;
  width: 263px;
  margin-top: 4rem;
  padding: 20px;
  font-weight: 400;
  font-family: 'IBM Plex Mono';
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.background_image {
  z-index: 1;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
