.checkout_formWrapper {
  display: relative;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  position: center;
  height: 100vh;
  margin-top: 90px;

  & div {
    align-items: center;
    align-content: center;
    position: center;
  }
  & h1 {
    font-size: 18px;
    align-items: center;
  }

  & p {
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
}

.checkout_formLayout {
  position: inline;
  width: 500px;
  margin: auto;

  & form {
    width: 500px;

    & input {
      border: 1px solid #fd7291;
      height: 20px;
      margin-right: 18px;

      :hover {
        cursor: crosshair;
      }
    }
    & h4 {
      font-size: 14px;
      margin-top: 60px;
    }

    & label {
      font-size: 14px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.checkout_lineBreak {
  border-top: 0.5px dashed #fd7291;
}

.formButtonLayout {
  border: 1px solid #fd7291;
  background: transparent;
  font-family: 'IBM Plex Mono';
  width: 300px;
  height: 40px;
  margin-top: 60px;
}
