.main_wrapper {
  align-items: center;
  position: center;
  align-content: center;
  margin-left: 292px;
  margin-top: 0;
}

.image_wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.product_description {
  align-items: left;
  top: 0;
}
